:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ---- header ---- */

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-flex {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu-item:nth-child(1) .menu-item-link {
  position: relative;

  color: var(--ocean);
}

.nav-menu-item:nth-child(1) .menu-item-link::after {
  display: block;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;

  content: '';

  background-color: var(--ocean);
}

.nav-logo {
  margin-right: 76px;
  padding: 24px 0;

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--iris);
}

.nav-logo-accent {
  color: var(--navy-blue);
}

.menu-item-link {
  display: block;
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--navy-blue);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-link:hover,
.menu-item-link:focus {
  color: var(--ocean);
}

.contact-info {
  margin-left: auto;

  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contact-info .contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: currentColor;
}

.contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}

/* ---- hero ---- */

.hero {
  max-width: 1440px;
  background-repeat: no-repeat;

  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      RGBA(46, 47, 66, 0.7),
      RGBA(46, 47, 66, 0.7)
    ),
    url('../images/hero.jpg');
  background-position: center;
  background-size: cover;
  color: var(--white);
}

.container-hero {
  text-align: center;
}

.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--white);
}

.hero-button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 0;
  border-radius: 4px;
  border: none;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: var(--iris);
  color: var(--white);

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: var(--ocean);
}

/* ---- benefits ---- */
.benefits {
  padding: 120px 0;
}

.benefits-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

  color: var(--navy-blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  width: calc((100% - 24px * 3) / 4);
}

.item-icon-block {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 112px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  margin-bottom: 8px;

  background-color: var(--cloud);
}

.benefits-item-icon {
  display: block;
  margin: 0 auto;

  fill: var(--cloud);
}

.benefits-item-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
}

.benefits-item-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---- employees ---- */

.employees {
  padding: 120px 0;
  background-color: var(--cloud);
  text-align: center;
}

.employees-title {
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.employees-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.employees-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  background-color: var(--white);
}

.item-socials {
  display: flex;

  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.item-socials-image {
  width: 40px;
  height: 40px;
}

.item-socials-link {
  margin: 0 auto;
}

.item-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  width: 100%;
  height: 100%;

  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-socials-link:hover,
.item-socials-link:focus {
  background-color: #404bbf;
}

.socials-link-icon {
  height: 16px;
  width: 16px;
  fill: var(--cloud);
}

.item-person {
  padding: 32px 0;
}

.employees-item .item-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
}

.employees-item .item-info {
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--slate);
}

/* ---- portfolio ---- */

.portfolio {
  padding: 120px 0;
}

/* .container-portfolio {
  padding: 32px 16px;
} */

.item-block {
  position: relative;
  overflow: hidden;
}

.portfolio-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

  color: var(--navy-blue);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-info,
.portfolio-item:focus .portfolio-info {
  transform: translateY(-100%);
}

.portfolio-work {
  padding: 32px 16px;

  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
}

.portfolio-item-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
}

.portfolio-item-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--slate);
}

.portfolio-info {
  height: 100%;
  padding: 40px 32px;
  background-color: var(--iris);
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

/* footer */

.footer {
  padding: 100px 0;
  background-color: var(--navy-blue);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer .nav-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: var(--cloud);
}

.footer-info {
  width: 264px;
  margin-right: 120px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.footer-info .nav-logo {
  padding: 0;
}

.social-media {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.social-media-info {
  margin-bottom: 16px;
}

.socials-list {
  display: flex;
  gap: 16px;
}

/* .social-item:not(:last-child) {
  margin-right: 16px;
} */

.social-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--iris);
}

.social-item-link:hover,
.social-item-link:focus {
  background-color: var(--green);
}

.social-icon {
  height: 24px;
  width: 24px;

  fill: var(--cloud);
}
